/* moviles */

@media (max-width:576px) {
    .section1 .grid2 {
        display: inline;
    }

    .section2 .grid3 {
        display: inline;
    }

    header .btn {
        margin-top: 0px;
    }
}

/* tablets */

@media (max-width:768px) {
    .contenedor-iconos{
        display: inline;
        
    }
}

@media (max-width:992px) {
}

@media (max-width:1200px) {
}