/* moviles */

@media (max-width:576px) {
    .section1 .grid2 {
        display: inline;
    }

    .section2 .grid3 {
        display: inline;
    }

    header .btn {
        margin-top: 0px;
    }

    .contenedor-iconos .icono-individual{
        width: 100%;
    }
    
    
}

/* tablets */

@media (max-width:768px) {
    .contenedor-iconos{
        display: inline;
    }

    .contenedor-iconos .icono-individual{
        width: 100%;
    }
    
}


